# Ambientes Virtuais
venv/
.venv/
Scripts/
Lib/

# Dependências do Frontend
node_modules/
dist/

# Python cache e logs
__pycache__/
*.py[cod]

# Arquivos de dados e sistema
data/
*.zip
*.csv
.DS_Store
.env